.ProfessorName {
    font-size: 25px;
    padding: 10px;
    padding-bottom: 3px;

    margin-bottom: 0px;
    margin-top: 15px;
}
.RatingTitle {
    margin-left: 10px;
    float: left;
    font-size: 15px;
}
.RatingContent {
    float: right;
   
}

.Floating
{
    border-color: #65B6FC !important;
}

.RMPDisplayArea {
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

    border-radius: 5px;

    padding: 5px;

    border-color: #A6A6A6;
    border-width: 1px;
    border-style: solid;

    -webkit-box-shadow: 9px 11px 36px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 36px -15px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 36px -15px rgba(0,0,0,0.75);

}

.RatingSection {
    border-width: 0px;
    border-bottom-width: 2px;

    border-color: #a6a6a6;
    border-style: solid;
}