<style>
.DraggableSign {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #949494;
    font-size: 15;

    margin-top: 20px;
    margin-left: 10px;

    font-style: italic;
    float: left;
}
</style>

<div class="RMPDisplayArea ui-widget-content" style="height: auto !important; width: 350px; bottom: 30px; right: 30px; position: absolute; ">
        <div style="float: left;">
            <img id="PinButton" width="30px;" src="__PIN_ICON__" />
        </div>
        <div style="height: 10px; float: right;">
            <img id="CloseButton" width="25px" src="__CLOSE_BUTTON__"/>
        </div>
        <div class="ProfessorName" style=" margin: 0 auto; text-align:center;">
            <a target="_blank" class="ProfessorNameLink" style=" color: black; text-decoration: none; padding-top: 5px;" href="__LINK_TO_PROFESSOR_PAGE__"> __PROFESSOR_NAME__ </a>
        </div>
        <div class="RMPMain">
            <h3>Professor Ratings</h3>
            <div id="overviewTab" style="height: 120px;">
                <div style="overflow: hidden">
                    <div class="RatingSection" style="float:left; width: 250px;">
                        <div class="RatingTitle">Overall Quality</div>
                        <div class="RatingContent">__OVERALL_QUALITY__</div>
                    </div>
                    <div class="RatingSection" style="float:left; width: 250px">
                        <div class="RatingTitle">Average Grade</div>
                        <div class="RatingContent">__AVERAGE_GRADE__</div>
                    </div>
                    <div class="RatingSection" style="float:left; width: 250px">
                        <div class="RatingTitle">Helpfulness</div>
                        <div class="RatingContent">__HELPFULNESS__</div>
                    </div>
                    <div class="RatingSection" style="float:left; width: 250px">
                        <div class="RatingTitle">Clarity</div>
                        <div class="RatingContent">__CLARITY__</div>
                    </div>
                    <div class="RatingSection" style="float:left; width: 250px">
                        <div class="RatingTitle">Easiness</div>
                        <div class="RatingContent">__EASINESS__</div>
                    </div>
                </div>
            </div>
            <h3>Reviews</h3>
            <div id="ratingsTab" style="height: 400px;">

            </div>
        </div>

        <div>
            <div class="DraggableSign">
                I am draggable!
            </div>
            <a target="_blank" style="float: right; padding-right: 15px; padding-top: 15px;" href="__LINK_TO_PROFESSOR_PAGE__"><img width="30px" src="__LINK_ICON__"/></a>
        </div>
    </div>
</div>
